@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


body {
    background-color: #f1f1f1 !important;
}
.container {
    background-color: white;
    min-height: 100vh;
    display: table;
}
.app-content {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}
.app-content {
    text-align: center;    
}
.app-content h1 {
    font-family: 'Major Mono Display', monospace;
}
.app-content h2 {
    margin: 1.5em 0 3em 0;
    font-family: 'Aldrich', sans-serif;
}
button {
    margin: 0.5em 0 0.5em 0 !important;
    font-family: 'Staatliches', serif;
    font-size: 1.4rem !important;
    color: white;
}
.app-footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 1.6rem;
}

@media only screen and (max-width: 422px) {
    .app-content h1 {
      font-size: 2.5rem !important;
    }
    .app-content h2 {
        font-size: 1.7rem !important
    }
}

@media only screen and (max-width: 374px) {
    .app-content h1 {
      font-size: 2rem !important;
    }
    .app-content h2 {
        font-size: 1.4rem !important
    }
}

@media only screen and (max-width: 301px) {
    .app-content h1 {
      font-size: 1.8rem !important;
    }
    .app-content h2 {
        font-size: 1.3rem !important
    }
}
