@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


.app-container {
    text-align: center;    
}
.app-container h1 {
    font-family: 'Major Mono Display', monospace;
}
.app-container h2 {
    font-family: 'Aldrich', sans-serif;
}
button {
    font-family: 'Staatliches', serif;
    font-size: 1.4rem !important;
}